<div class="container mt-4" style="max-width: 1200px;">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <h2 id="page-heading">
          <span jhiTranslate="cityNewsAndWeatherApp.news.home.title">News</span>
        </h2>
        <button
          *jhiHasAnyAuthority="'ROLE_USER'"
          id="jh-create-entity"
          class="btn btn-primary float-right jh-create-entity create-news btn-pink news-btn btn-small"
          [routerLink]="['/news/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="cityNewsAndWeatherApp.news.home.createLabel">
            Create a new News
          </span>
        </button>
      </div>
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <jhi-news-card [news]="item" *ngFor="let item of news; trackBy: trackId"> </jhi-news-card>
      </div>
    </div>
  </div>
</div>
