<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="news">
            <h2><span jhiTranslate="cityNewsAndWeatherApp.news.detail.title">News</span> {{ news.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cityNewsAndWeatherApp.news.authorId">Author Id</span></dt>
                <dd>
                    <span>{{ news.authorId }}</span>
                </dd>
                <dt><span jhiTranslate="cityNewsAndWeatherApp.news.title">Title</span></dt>
                <dd>
                    <span>{{ news.title }}</span>
                </dd>
                <dt><span jhiTranslate="cityNewsAndWeatherApp.news.description">Description</span></dt>
                <dd>
                    <span>{{ news.description }}</span>
                </dd>
                <dt><span jhiTranslate="cityNewsAndWeatherApp.news.cityId">City Id</span></dt>
                <dd>
                    <span>{{ news.cityId }}</span>
                </dd>
                <dt><span jhiTranslate="cityNewsAndWeatherApp.news.createAt">Create At</span></dt>
                <dd>
                    <span>{{ news.createAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/news', news.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
