<div class="row justify-content-center">
  <div class="col-8">
    <div class="card jh-card" *ngIf="news">
      <h2>{{ news.title }}</h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cityNewsAndWeatherApp.author.detail.title">Author</span></dt>
        <dd>
          <span>{{ news.authorName }}</span>
        </dd>
        <dt><span jhiTranslate="cityNewsAndWeatherApp.news.title">Title</span></dt>
        <dd>
          <span>{{ news.title }}</span>
        </dd>
        <dt><span jhiTranslate="cityNewsAndWeatherApp.news.description">Description</span></dt>
        <dd>
          <span>{{ news.description }}</span>
        </dd>

        <dd>
          <span>{{ news.createAt | date }}</span>
        </dd>
      </dl>
      <div class="d-flex justify-content-between">
        <button type="submit" (click)="previousState()" class="btn btn-info btn-pink news-btn btn-small">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          *ngIf="news.owner"
          [routerLink]="['/news', news.id, 'edit']"
          class="btn btn-primary btn-pink news-btn btn-small"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
